.text-center{
    text-align: center;
}

.primary-btn-small{
    border: 2px solid $primary-color;
    color: #5F5F5F;
    padding: .6rem 1.4rem;
    font-size: 1.5rem;
    border-radius: .6rem;
    transition: all .4s;
    position: relative;
    overflow: hidden;
    z-index: 11;
    &:hover{
        color: white;
    }
    &::after{
        content: '';
        position: absolute;
        background-color: $primary-color;
        width: 5px;
        height: 5px;
        border-radius: 50%;;
        top: 0;
        right: 0;
        border-radius: .6rem;
        transform: scale(0);
        transition: .4s;
        z-index: -11;
    }
    &:hover::after{
        transform: scale(60);
    }
}

.primary-btn-big{
    @extend .primary-btn-small;
    padding: 1rem 2.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    &::after{
        content: '';
        position: absolute;
        background-color: $primary-color;
        width: 5px;
        height: 5px;
        border-radius: 50%;;
        top: 0;
        right: 0;
        border-radius: .6rem;
        transform: scale(0);
        transition: .4s;
        z-index: -11;
    }
    &:hover::after{
        transform: scale(100);
    }
}

.form-error-style{
    color: red;
    font-size: 1.4rem;
}

.navbar-user-name-icon{
    border: 3px solid $primary-color;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
    @include center-flex;
}