.about__container {
  padding-top: 6rem;
  .about__header {
    text-align: center;
    font-size: $header-size;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    @include respond(phone){
      font-size: 2.5rem;
    }
  }
  .about__description {
    text-align: center;
    font-size: 1.6rem;
    margin: 0.6rem 0;
    @include respond(phone){
      font-size: 1.4rem;
    }
  }
  & .about__item__container {
    padding-bottom: 2.2rem;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 0.3rem;
      background-color: $primary-color;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      transition: all 0.5s;
      transform: scaleX(0);
    }
    &:hover::after {
      transform: scaleX(3);
    }
    &:hover > svg,
    .active__about__item {
      color: $primary-color;
    }

    & svg {
      width: 7rem;
      height: 7rem;
      @include respond(phone){
        width: 4rem;
        height: 4rem;
      }
    }
    & h5 {
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: capitalize;
      margin-top: 1.6rem;
      @include respond(phone){
        font-size: 1.4rem;
      }
    }
  }
  & .about__second__item__container {
    border-left: 1px solid $tertiary-color;
    border-right: 1px solid $tertiary-color;
  }

  
  & .about__content_container{
    min-height: 480px;
    display: grid;
    place-items: center;

    // about section 1
    
  & .about__all__section__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include respond(tablet){
        grid-template-columns: 1fr;
      }

    & .about__first__content__col__container-one {
      & img {
        width: 100%;
        height: 100%;
        min-height: 480px !important;
        object-fit: cover;
        @include respond(tablet){
          min-height: 300px !important;
        }
      }
    }
    & .about__first__content__col__container-two {
      background-color: #393939;
      padding: 2.5rem 5rem;
      width: 100%;
      height: 100%;
      & p {
        font-size: 1.6rem;
        color: $tertiary-color;
        margin: 2.5rem 0;
        @include respond(phone){
          font-size: 1.4rem;
        }
      }
      & span {
        font-size: 1.4rem;
        color: $tertiary-color;
        @include respond(phone){
          font-size: 1.3rem;
        }
      }
      & svg {
        font-size: 1.5rem;
        color: $primary-color;
        margin-right: 1.5rem;
      }
      & .about__first__content__col__container__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      & .read__more__toggle__icon{
        text-align: center;
        margin-top: 2.5rem;
        & h4{
          font-size: 1.5rem;
          color: $primary-color;
          cursor: pointer;
          & svg{
            margin-right: .5rem;
          }
        }
      }
    }
  }

  // about section 2

  & .about__second__content__container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    & .about__second__content__row__container {
      & .about__second__content__col__container {
        display: flex;
        padding: 3rem 4rem 2rem 4rem;
        & svg {
          color: $primary-color;
          font-size: 5rem;
          @include respond(phone){
            font-size: 3.5rem;
          }
        }
        & div {
          width: 40rem;
          text-align: left;
          margin-left: 2.5rem;
          & h4 {
            font-size: 2.3rem;
            font-weight: 700;
            margin-top: 1rem;
            color: $tertiary-color;
            @include respond(phone){
              font-size: 1.8rem;
            }
          }
          & p {
            font-size: 1.5rem;
            margin-top: 2rem;
            color: $tertiary-color;
            @include respond(phone){
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  // about section 3

  & .about__third__content__row__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include respond(tablet){
      grid-template-columns: 1fr;
    }
    & .about__third__content__col__container-one {
      background-color: #393939;
      padding: 3.5rem 5rem;

      & h1 {
        color: $tertiary-color;
        font-size: 4.5rem;
        font-weight: 600;
        @include respond(phone){
          font-size: 3rem;
        }
      }
      & p {
        font-size: 1.4rem;
        color: $tertiary-color;
        margin: 2.5rem 0;
        @include respond(phone){
          font-size: 1.3rem;
        }
      }
      & span {
        font-size: 1.5rem;
        color: $tertiary-color;
        @include respond(phone){
          font-size: 1.3rem;
        }
      }
      & svg {
        font-size: 1.5rem;
        color: $primary-color;
        margin-right: 1.5rem;
      }
    }
    & .about__third__content__col__container-two {
      padding: 0 !important;
      & img {
        width: 100%;
        height: 100%;
        min-height: 480px !important;
        object-fit: cover;
        @include respond(tablet){
          min-height: 300px !important;
        }
      }
    }
  }
}
}
