.feedback__container {
  width: 80%;
  margin: 5rem auto;
  & .form-group {
    margin-bottom: 2.5rem;
  }
  & label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  & input {
    font-size: 1.6rem;
  }
  & textarea {
    width: 100%;
    height: 150px;
  }
}
