.manage__service__container{
    width: 98%;
    margin: 5rem auto;
& tr{
    height: 5rem;
    line-height: 5rem;
    & th{
        font-size: 1.5rem;
    }
    & td{
        font-size: 1.4rem;
        & svg{
            margin-left: .5rem;
        }
        & button{
            font-size: 1.5rem;
        }
        & .manage__service__price__editable__input{
            width: 40%;
            height: 60%;
        }
    }
}
}