.skeleton{
    background-color: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton.title{
    width: 60%;
    height: 20px;
    border-radius: 4px;
    margin: 6px 0;
}

.skeleton.text{
    width: 80%;
    height: 10px;
    border-radius: 4px;
    margin: 6px 0;
}

.skeleton.img{
    width: 200px;
    height: 200px;
    margin: 6px 0;
    border-radius: 4px;
}

/* service skeleton */

.service__skeleton__wrapper{
    background-color: #f2f2f2;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.service__skeleton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shimmer__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: loading 1.5s infinite;
}

.shimmer{
    height: 100%;
    width: 50%;
    transform: skewX(-20deg);
    background: rgba(255,255,255,0.2);
}

@keyframes loading {
    0% { transform: translateX(-150%) }
    100% { transform: translateX(150%) }
  }